/*Encabezado*/

nav {
    background-color: #7f4ca5;
}

/*FOTO y PRESENTACIÓN*/

header {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #fff0ff;
}

.wrapper { 
    margin: 65px auto;
    width: 70%;
}

img {
    max-width: 320px;
    float: left;
    border: 5px solid black;
    border-radius: 50px;
    margin-right: 100px;
    margin-bottom: 40px;
}

.text-box {
    color: black;}

.text-box h2 {
    font-family: "roboto", sans-serif;
    font-size: 42px;
    text-align: center;}

.text-box p {
    font-size: 16px;
    text-align: center;
    text-align: justify;} 

/* ESTUDIOS y EXPERIENCIAS */

section {
    background-color: #7f4ca5;  
}

.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;      
    grid-column-gap: 0%;
    grid-row-gap: 0%;
}
 

.div1 {
   grid-area: 1/1/2/2;    
}    

.div2 {
    grid-area: 1/2/2/3;
}

@media only screen and (max-width:800px) {
    .parent {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0%;
    }

    .div1 {
        grid-area: 1/1/2/2;
    }

    .div2 {
        grid-area: 2/1/3/2;
    }
}


h5 {
    font-family: roboto medium;
}

/*Pie de página*/

footer {
    font-family: roboto medium;
    background-color: #4b1c71;
}


/*CUERPO DEL PORTAFOLIO*/

main {
    font-family: rotobo medium;
    background-color: #7f4ca5;
}

h3 {
    font-family: roboto medium;
    margin: 0px;
    margin-bottom: 60px;
}

/*Imagen de la card en PORTAFOLLIO*/

#Mis-Trabajos .image-top {
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  

